body {
    padding-top: 70px !important;
    background-image: url("/webSubShare/client/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.getLink {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.getLink:hover {
    background-color: beige;
    font-weight: bold;
}

td.profile {
    text-align: right;
}

th.profile {
    text-align: left;
}


/* .pagination {
    padding: 10px 330px;
} */

th,
tr,
td {
    font-size: 0.9em !important;
}